Library Imports

In [70]:
import pandas as pd 
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,ConfusionMatrixDisplay
import seaborn as sn
import matplotlib.pyplot as plt
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

# Utilizando o arquivo moviesreviews.tsv

In [71]:
reviews_df = pd.read_csv(r"C:\Users\Rícharde\Documents\Dell lead\Atividade 06\moviereviews.tsv", sep='\t')

In [72]:
reviews_df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [73]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

Removendo valores nulos

In [74]:
reviews_df=reviews_df.dropna()

In [75]:
reviews_df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [76]:
reviews_df.isna().sum()

label     0
review    0
dtype: int64

# Utilize a análise de sentimentos do nltk (VADER) para classificar os reviews.

In [77]:
sid = SentimentIntensityAnalyzer()
reviews_df['scores'] = reviews_df['review'].apply(lambda review: sid.polarity_scores(review))
reviews_df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [78]:
reviews_df['compound'] = reviews_df['scores'].apply(lambda scores: scores['compound'])
reviews_df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484

In [79]:
reviews_df['compound_result'] = reviews_df['compound'].apply(lambda comp: 'pos' if comp >=0 else 'neg')
reviews_df.head()

,label,review,scores,compound,compound_result
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

Accuracy value

In [80]:
accuracy_score(reviews_df['label'],reviews_df['compound_result'])

0.6335877862595419

In [81]:
print(classification_report(reviews_df['label'],reviews_df['compound_result']))

              precision    recall  f1-score   support

         neg       0.72      0.43      0.54       983
         pos       0.60      0.83      0.69       982

    accuracy                           0.63      1965
   macro avg       0.66      0.63      0.62      1965
weighted avg       0.66      0.63      0.62      1965

Confusion Matrix

In [82]:
cm = confusion_matrix(reviews_df['label'],reviews_df['compound_result'],labels=['pos','neg'])
cm

array([[818, 164],
       [556, 427]], dtype=int64)

# Realize experimentos fazendo pré-processamento.

In [86]:
reviews_df = pd.read_csv(r"C:\Users\Rícharde\Documents\Dell lead\Atividade 06\moviereviews.tsv", sep='\t')