Library Imports

In [164]:
import pandas as pd 
import string
import nltk
import re
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.stem import WordNetLemmatizer
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,ConfusionMatrixDisplay
import seaborn as sn
import matplotlib.pyplot as plt
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

# Utilizando o arquivo moviesreviews.tsv

In [165]:
reviews_df = pd.read_csv(r"C:\Users\Rícharde\Documents\Dell lead\Atividade 06\moviereviews.tsv", sep='\t')

In [166]:
reviews_df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [167]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

Removendo valores nulos

In [168]:
reviews_df=reviews_df.dropna()

In [169]:
reviews_df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [170]:
reviews_df.isna().sum()

label     0
review    0
dtype: int64

# Utilize a análise de sentimentos do nltk (VADER) para classificar os reviews.

In [171]:
sid = SentimentIntensityAnalyzer()
reviews_df['scores'] = reviews_df['review'].apply(lambda review: sid.polarity_scores(review))
reviews_df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [172]:
reviews_df['compound'] = reviews_df['scores'].apply(lambda scores: scores['compound'])
reviews_df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484

In [173]:
reviews_df['compound_result'] = reviews_df['compound'].apply(lambda comp: 'pos' if comp >=0 else 'neg')
reviews_df.head()

,label,review,scores,compound,compound_result
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

Accuracy value

In [174]:
accuracy_score(reviews_df['label'],reviews_df['compound_result'])

0.6335877862595419

In [175]:
print(classification_report(reviews_df['label'],reviews_df['compound_result']))

              precision    recall  f1-score   support

         neg       0.72      0.43      0.54       983
         pos       0.60      0.83      0.69       982

    accuracy                           0.63      1965
   macro avg       0.66      0.63      0.62      1965
weighted avg       0.66      0.63      0.62      1965

Confusion Matrix

In [176]:
cm = confusion_matrix(reviews_df['label'],reviews_df['compound_result'],labels=['pos','neg'])
cm

array([[818, 164],
       [556, 427]], dtype=int64)

# Realize experimentos fazendo pré-processamento.

In [177]:
reviews_df = pd.read_csv(r"C:\Users\Rícharde\Documents\Dell lead\Atividade 06\moviereviews.tsv", sep='\t')

In [178]:
reviews_df = reviews_df.drop_duplicates()
reviews_df=reviews_df.dropna()

In [179]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1940 non-null   object
 1   review  1940 non-null   object
dtypes: object(2)
memory usage: 45.5+ KB

Pré processamento

In [180]:
nltk.download('stopwords')
nltk.download('rslp')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package rslp to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package rslp is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Rícharde\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

Removing stopwords

In [181]:
def RemoveStopWords(instance):
    stopwords = set(nltk.corpus.stopwords.words('english'))
    stopwords.add('film')
    stopwords.add('films')
    palavras = [i for i in instance.split() if not i in stopwords]
    return (" ".join(palavras))

Applying Stemming

In [182]:
def Stemming(instance):
    stemmer = nltk.stem.PorterStemmer()
    palavras = []
    for w in instance.split():
        palavras.append(stemmer.stem(w))
    return (" ".join(palavras))

Clear data

In [183]:
# remove links, pontos, virgulas,ponto e virgulas dos reviews 
def clean_text(instance):
    instance = instance.lower()
    instance = re.sub('\[.*?\]', ' ', instance)
    instance = re.sub('https?://\S+|www\.\S+', ' ', instance)
    instance = re.sub('<.*?>+', ' ', instance)
    instance = re.sub('[%s]' % re.escape(string.punctuation), ' ', instance)
    instance = re.sub('\n', '', instance)
    instance = re.sub('\w*\d\w*', ' ', instance)
    return instance

Applying Lemmatization

In [184]:
wordnet_lemmatizer = WordNetLemmatizer()

def Lemmatization(instancia):
  palavras = []
  for w in instancia.split():
    palavras.append(wordnet_lemmatizer.lemmatize(w))
  return (" ".join(palavras))

Running pre processing

In [185]:
def pre_processing(df,local_data):
    df[local_data] = df[local_data].apply(lambda local_data: RemoveStopWords(local_data))
    df[local_data] = df[local_data].apply(lambda local_data: Stemming(local_data))
    df[local_data] = df[local_data].apply(lambda local_data: clean_text(local_data))
    df[local_data] = df[local_data].apply(lambda local_data: Lemmatization(local_data))
    return df

In [186]:
reviews_df = pre_processing(reviews_df,'review')

Sentiment Analysis

In [187]:
sid = SentimentIntensityAnalyzer()
reviews_df['scores'] = reviews_df['review'].apply(lambda review: sid.polarity_scores(review))
reviews_df['compound'] = reviews_df['scores'].apply(lambda scores: scores['compound'])
reviews_df['compound_result'] = reviews_df['compound'].apply(lambda comp: 'pos' if comp >=0 else 'neg')
reviews_df.head()

,label,review,scores,compound,compound_result
0,neg,like mous hunt get theatr law someth diabol lo...,"{'neg': 0.117, 'neu': 0.76, 'pos': 0.123, 'com...",-0.5267,neg
1,neg,talent actress bless demonstr wide act rang ot...,"{'neg': 0.131, 'neu': 0.721, 'pos': 0.147, 'co...",0.5170,pos
2,pos,extraordinari year australian shine scoop pool...,"{'neg': 0.072, 'neu': 0.72, 'pos': 0.209, 'com...",0.9949,pos
3,pos,accord hollywood movi made last decad life sma...,"{'neg': 0.075, 'neu': 0.754, 'pos': 0.171, 'co...",0.9936,pos
4,neg,first press screen alreadi i v gotten prime ca...,"{'neg': 0.148, 'neu': 0.747, 'pos': 0.105, 'co...",-0.9590,neg

In [188]:
accuracy_score(reviews_df['label'],reviews_df['compound_result'])

0.5896907216494846

In [189]:
print(classification_report(reviews_df['label'],reviews_df['compound_result']))

              precision    recall  f1-score   support

         neg       0.65      0.38      0.48       970
         pos       0.56      0.79      0.66       970

    accuracy                           0.59      1940
   macro avg       0.61      0.59      0.57      1940
weighted avg       0.61      0.59      0.57      1940