Library Imports

In [1]:
import pandas as pd

# Utilizando o arquivo moviesreviews.tsv

In [2]:
reviews_df = pd.read_csv(r"C:\Users\RÃ­charde\Documents\Dell lead\Atividade 06\moviereviews.tsv", sep='\t')

In [6]:
reviews_df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...