Library Imports

In [4]:
import pandas as pd
import numpy as np
import fastapi as FastAPI 
import matplotlib.pyplot as plt

# Utilizar o conjunto de dados Go To College para a determinação se um estudante irá continuar para a faculdade ou não

In [2]:
df = pd.read_csv(r'C:\Users\Rícharde\Desktop\Python IA\Python-IA-Dell-Lead-\Challenges\defiance_01\data.csv')

In this problem we need to see if we can predict if a student will go to College or not, we don't have a large database, our datasate has 1000 values and 11 columns, here we will use the database "data.csv" that was made available to use, below you will see an analysis of the data, the processing of this data, and the use of Classifications models of machine learning to achieve our goa

Brief data analysis

In [12]:
df.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,will_go_to_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False

In [8]:
df.describe()

        parent_age  parent_salary   house_area  average_grades
count  1000.000000   1.000000e+03  1000.000000     1000.000000
mean     52.208000   5.381570e+06    74.515300       86.097200
std       3.500427   1.397546e+06    15.293346        3.378738
min      40.000000   1.000000e+06    20.000000       75.000000
25%      50.000000   4.360000e+06    64.600000       83.737500
50%      52.000000   5.440000e+06    75.500000       85.575000
75%      54.000000   6.382500e+06    84.825000       88.262500
max      65.000000   1.000000e+07   120.000000       98.000000

In [7]:
# Check null values
df.isnull().sum()

type_school              0
school_accreditation     0
gender                   0
interest                 0
residence                0
parent_age               0
parent_salary            0
house_area               0
average_grades           0
parent_was_in_college    0
will_go_to_college       0
dtype: int64

In [9]:
# Data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   type_school            1000 non-null   object
 1   school_accreditation   1000 non-null   object
 2   gender                 1000 non-null   object
 3   interest               1000 non-null   object
 4   residence              1000 non-null   object
 5   parent_age             1000 non-null   int64
 6   parent_salary          1000 non-null   int64
 7   house_area             1000 non-null   float64
 8   average_grades         1000 non-null   float64
 9   parent_was_in_college  1000 non-null   bool
 10  will_go_to_college     1000 non-null   bool
dtypes: bool(2), float64(2), int64(2), object(5)
memory usage: 72.4+ KB

Exploratory Data Analysis (EDA):